header {
  background-color: silver;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header ul li {
  display: inline-block;
  width: 25%;
  font-size: 2rem;
  text-align: center;
  transition: 500ms all;
  border: 5px solid black;
  border-top: none;
  cursor: pointer;
}

header ul li:hover {
  background-color: yellow;
  border-color: crimson;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px 15px;
}

@media only screen and (max-width: 800px) {
  header ul li {
    width: 100%;
    font-size: 1.2rem;
  }
}
