* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(30deg, black, blue); */
  /* color: white; */
  background-image: linear-gradient(30deg, yellow, crimson);
}

form {
  width: 250px;
  font-size: x-large;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  margin: 20px;
}

input,
select {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}

table {
  background-color: red;
  width: 100%;
}

table,
td,
tr,
th {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
  margin: 10px;
  min-width: 70px;
  width: 30%;
  transition: 500ms all;
  border: none;
  border-radius: 30px;
}

button:hover {
  box-shadow: 0 0 10px 10px black;
}

button.edit {
  background-color: aqua;
}

button.delete {
  background-color: crimson;
}
