* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  padding-bottom: 50px;
}

section.hide {
  display: none;
}

/* first part of team details START */

section.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
}

section.first img {
  margin: 50px;
  width: 200px;
}

section.first span {
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 3px;
}

section.first hr {
  margin: 5px -20px 20px;
}

section.first h1 {
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 5px;
  word-spacing: 10px;
  padding-left: 30px;
}

section.first ul li {
  margin-bottom: 10px;
}

/* end of first part team details END */

/* buttons for switching between table form and cards START */

div.controll {
  width: 80%;
  margin: 0px auto;
  padding: 30px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.controll button {
  min-width: 100px;
  width: 20%;
  height: 50px;
  font-size: 1.5rem;
  letter-spacing: 3px;
  transition: 500ms all;
  border: none;
  border-radius: 15px;
}

div.controll button:hover {
  color: white;
  background-color: crimson;
  box-shadow: 0 0 10px 10px crimson;
}

.active {
  color: white;
  background-color: crimson;
  box-shadow: 0 0 10px 10px crimson;
}

/* buttons for switching between table form and cards END */

/* representing team players in table START */
section#table {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

section#table table {
  width: 80%;
}

section#table table,
section#table tr,
section#table td,
section#table th {
  border: 3px solid black;
  border-collapse: collapse;
  font-size: 1.2rem;
}

section#table td,
section#table th {
  padding: 10px;
}

section#table thead {
  background-color: black;
  color: white;
  font-style: italic;
}

/* representing team players in table END */

/* representing team players by cards START */

section#cards {
  position: relative;
  left: 10%;
  padding: 40px;
  margin: 20px 0;
  width: 85%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px black;
  display: none;
}

section#cards > div {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 420px;
}

section#cards .card {
  border-radius: 20px;
  border: 2px solid black;
  min-width: 200px;
  width: 20%;
  height: 400px;
  margin-right: 20px;
  margin-bottom: 5px;
  text-align: center;
}

section#cards .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#cards table {
  border-collapse: collapse;
}

section#cards table caption {
  font-size: 1.2rem;
  word-wrap: break-word;
  letter-spacing: 3px;
  font-weight: bolder;
  border-bottom: 3px solid black;
  padding: 10px;
}

section#cards td {
  padding: 10px;
}

section#cards td:nth-child(even) {
  border-left: 3px solid black;
}

section#cards img {
  border-radius: 20px 20px 0 0/ 15px 15px 0px 0;
  width: 100%;
  height: 200px;
}

section#cards .image {
  position: relative;
}

section#cards #overall,
section#cards #position {
  position: absolute;
  top: 5%;
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

section#cards #overall {
  left: 5%;
}

section#cards #position {
  right: 5%;
}

/* representing team players by cards END */

@media only screen and (max-width: 800px) {
  header ul {
    flex-direction: column;
  }

  header ul li {
    width: 100%;
  }
}
