* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 100px;
  background-color: whitesmoke;
}

section > div.controll {
  position: fixed;
  width: 90%;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section > div.controll button {
  background: none;
  box-shadow: none;
  border: none;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
}

section div.card {
  font-size: 1.2rem;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-width: 200px;
  width: 25%;
  height: 400px;
  margin: 20px;
}

section .card a {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: blue;
  transition: 500ms background-color;
  border: 3px solid black;
  color: white;
}

section .card a:hover {
  background-color: #4681f4;
  border-color: silver;
}

section div.card img {
  width: 60%;
  height: 200px;
}

section div.controll img {
  width: 80%;
}

section hr {
  background-color: black;
  margin: 20px 0;
}

section h4 {
  margin: 10px 0;
  word-wrap: break-word;
}

@media only screen and (max-width: 700px) {
  header ul li {
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }

  section div.card {
    height: 350px;
  }

  section div.card img {
    width: 80%;
    height: 50%;
  }
}
