* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px 15px;
}

section.hide {
  display: none;
}

/* navigation bar START */

header {
  background-color: silver;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header ul li {
  display: inline-block;
  width: 25%;
  font-size: 2rem;
  text-align: center;
  transition: 500ms all;
  border: 5px solid black;
  border-top: none;
  cursor: pointer;
}

header ul li:hover {
  background-color: yellow;
  border-color: crimson;
}

/* navigation bar END */

/* first part of team details START */

section.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  font-size: 1.2rem;
}

section.first img {
  margin: 50px;
  width: 200px;
}

section.first span {
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 3px;
}

section.first hr {
  margin: 5px 0px 20px;
}

section.first h1 {
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 5px;
  word-spacing: 10px;
  padding-left: 30px;
}

/* end of first part team details END */

/* buttons for switching between table form and cards START */

div.controll {
  width: 80%;
  margin: 0px auto;
  padding: 30px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.controll button {
  width: 40%;
  font-size: 1.5rem;
  letter-spacing: 3px;
  transition: 500ms all;
  border: none;
  border-radius: 15px;
}

div.controll button:hover {
  color: #f7ef8a;
  background-color: crimson;
  box-shadow: 0 0 10px 10px crimson;
}

.active {
  color: #f7ef8a;
  background-color: crimson;
  box-shadow: 0 0 10px 10px crimson;
}

/* buttons for switching between table form and cards END */

/* representing team players in table START */
section#table {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

section#table table {
  width: 80%;
}

section#table table,
section#table tr,
section#table td,
section#table th {
  border: 3px solid black;
  border-collapse: collapse;
  font-size: 1.2rem;
}

section#table td,
section#table th {
  padding: 10px;
}

section#table thead {
  background-color: black;
  color: white;
  font-style: italic;
}

/* representing team players in table END */

/* representing team players by cards START */

section#cards {
  position: relative;
  left: 10%;
  padding: 50px;
  margin: 20px 0;
  width: 80%;
  height: 500px;
  border-radius: 10%;
  box-shadow: 0 0 20px 10px black;
  overflow-x: scroll;
  display: none;
}

section#cards .card {
  background-color: #f7ef8a;
  border-radius: 20px;
  border: 2px solid black;
  width: 200px;
  height: 400px;
}

section#cards .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#cards table {
  border-collapse: collapse;
}

section#cards table caption {
  font-size: 1.2rem;
  word-wrap: break-word;
  letter-spacing: 3px;
  font-weight: bolder;
  border-bottom: 3px solid black;
  padding: 10px;
}

section#cards td {
  padding: 10px;
}

section#cards td:nth-child(even) {
  border-left: 3px solid black;
}

section#cards img {
  border-radius: 20px 20px 0 0/ 15px 15px 0px 0;
  width: 100%;
}

/* representing team players by cards END */

@media only screen and (max-width: 800px) {
  header ul {
    flex-direction: column;
  }

  header ul li {
    width: 100%;
  }
}
