* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
}

header {
  background-color: silver;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header ul li {
  display: inline-block;
  width: 25%;
  font-size: 2rem;
  text-align: center;
  transition: 500ms all;
  border: 5px solid black;
  border-top: none;
  cursor: pointer;
}

header ul li:hover {
  background-color: yellow;
  border-color: crimson;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px 15px;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 25px 10px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section form {
  min-width: 50px;
  width: 25%;
  padding: 10px;
}

input[type="text"] {
  box-shadow: 0 0 1px 1px;
}

label,
input {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px 0;
  width: 100%;
}

label {
  text-align: left;
}

table {
  min-width: 300px;
  width: 70%;
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

tfoot td,
tr {
  border: none;
  background: whitesmoke;
}

@media only screen and (max-width: 1200px) {
  section {
    top: 20%;
    transform: translate(-50%);
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    overflow-x: scroll;
  }

  section form {
    width: 80%;
  }

  section hr {
    margin: 15px 0;
    width: 80%;
  }
}
