<header>
  <link rel="stylesheet" href="/style/navigation-bar-style.css" />
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/newTeam">New Team</a>
    </li>
    <li>
      <a href="/newPlayer">New Player</a>
    </li>
    <li>
      <a href="/base">Team Base</a>
    </li>
  </ul>
</header>
