<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style/index-style.css" />
  </head>
  <body>
    <section>
      <div class="control">
        <h2>New Team</h2>
        <img src="/img/team.png" />
      </div>
      <hr />
      <div class="control">
        <h2>New Player</h2>
        <img src="/img/player.png" />
      </div>
      <hr />
      <div class="control">
        <h2>Team Cards</h2>
        <img src="/img/football-club.png" />
      </div>
      <hr />
      <div class="control">
        <h2>Player Transfer</h2>
        <img src="/img/transfer.png" />
      </div>
    </section>
    <script src="script/index-script.js"></script>
  </body>
</html>
