<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style/index-style.css" />
  </head>
  <body>
    <section>
      <div class="control">
        <h2>New Team</h2>
        <img src="https://img.icons8.com/color/200/000000/football-team.png" />
      </div>
      <hr />
      <div class="control">
        <h2>New Player</h2>
        <img
          src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/200/000000/external-player-football-soccer-flaticons-lineal-color-flat-icons-2.png"
        />
      </div>
      <hr />
      <div class="control">
        <h2>Team Cards</h2>
        <img
          src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/200/000000/external-football-club-football-soccer-flaticons-lineal-color-flat-icons.png"
        />
      </div>
    </section>
    <script src="script/index-script.js"></script>
  </body>
</html>
