<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/player-transfer-style.css" />
  </head>
  <body>
    <%- include('header'); -%>

    <section>
      <div>
        <input type="hidden" name="_id" />
        <input
          type="text"
          list="players"
          onkeyup="createPlayerCard(this)"
          placeholder="search"
        />
        <div id="search-result" class="hide">
          <!-- <button onclick="createTeamCard(this)" value="ss">Halland</button>
          <button onclick="createTeamCard(this)" value="ss">Halland</button> -->
        </div>
        <div id="player">
          <h2>Player Name</h2>
          <img
            src="https://cdn.iconscout.com/icon/free/png-256/football-player-1426973-1208513.png"
            alt=""
          />
        </div>
      </div>
      <input
        type="image"
        src="https://cdn-icons-png.flaticon.com/512/1635/1635581.png"
        alt=""
      />
      <div>
        <select onchange="createTeamCard(this.value)">
          <option selected disabled>Select team</option>
          <option value="man">Man</option>
        </select>
        <div class="team">
          <h2>Team Name</h2>
          <img
            src="https://static.vecteezy.com/system/resources/previews/007/166/414/original/football-club-logo-design-template-vector.jpg"
            alt=""
          />
        </div>
      </div>
    </section>
    <script src="/script/player-transfer-script.js"></script>
  </body>
</html>
