<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/player-transfer-style.css" />
  </head>
  <body>
    <%- include('header'); -%>

    <section>
      <div>
        <input
          type="text"
          id="player-name"
          onkeyup="searchPlayer(this)"
          placeholder="search"
        />
        <div id="search-result" class="hide"></div>
        <div id="player">
          <input type="hidden" name="player_id" />

          <h2>Player Name</h2>
          <img
            src="https://cdn.iconscout.com/icon/free/png-256/football-player-1426973-1208513.png"
            alt="player_name"
          />
        </div>
      </div>
      <input
        type="image"
        src="https://cdn-icons-png.flaticon.com/512/1635/1635581.png"
        alt=""
      />
      <div>
        <select name="team_id" onchange="searchTeam(this.value)">
          <% for(let team of teamList){ %>
          <option value="<%= team['_id'] %>"><%=team['name']%></option>
          <%}%>
        </select>

        <div id="team">
          <h2>Team Name</h2>
          <img
            src="https://static.vecteezy.com/system/resources/previews/007/166/414/original/football-club-logo-design-template-vector.jpg"
            alt="team_name"
          />
        </div>
      </div>
    </section>
    <script src="/script/player-transfer-script.js"></script>
  </body>
</html>
