<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/navigation-bar-style.css" />
    <link rel="stylesheet" href="style/player-form-style.css" />
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/newTeam">New Team</a>
        </li>
        <li>
          <a href="/newPlayer">New Player</a>
        </li>
        <li>
          <a href="/base">Team Base</a>
        </li>
      </ul>
    </header>
    <form>
      <h2>Player Form</h2>
      <input type="hidden" name="_id" />
      <label for="p-number">Number</label>
      <input
        type="number"
        name="number"
        id="p-number"
        min="1"
        max="99"
        placeholder="10"
      />
      <label for="p-name">Full name</label>
      <input
        type="text"
        name="fullname"
        id="p-name"
        placeholder="Diego Maradona"
      />
      <label for="p-country">Country</label>
      <input
        type="text"
        name="country"
        id="p-country"
        placeholder="Argentina"
      />
      <label for="p-club">Club</label>

      <select name="club" id="">
        <% teams.forEach((team)=>{ %>
        <option value="<%= team['name'] %>"><%= team['name'] %></option>
        <% });%>
      </select>

      <label for="p-position">Position</label>
      <input type="text" name="position" id="p-position" placeholder="CF" />

      <label for="p-age">Age</label>
      <input type="text" name="age" id="p-age" placeholder="25" />

      <label for="p-image">Image Url</label>
      <input type="url" name="image" id="p-image" placeholder="https://" />

      <input type="reset" value="Reset" />
      <input type="submit" name="submit" value="Save" />
    </form>
    <hr />
    <table>
      <caption>
        <h2>Player Base</h2>
      </caption>
      <thead>
        <th>N</th>
        <th>Full name</th>
        <th>Country</th>
        <th>Club</th>
        <th>Age</th>
        <th>Position</th>
        <th>Number</th>
        <th>Image</th>
        <th>Operation</th>
      </thead>
      <tbody></tbody>
    </table>

    <div class="ability-box hide">
      <div>
        <form>
          <table>
            <caption>
              <h2>Player Ability</h2>
            </caption>
            <tbody>
              <tr>
                <td>
                  <input
                    type="number"
                    name="pace"
                    min="1"
                    max="99"
                    placeholder="PAC"
                    title="pace"
                    value="50"
                    required
                  />
                </td>
                <td>
                  <input
                    type="number"
                    name="dribbling"
                    min="1"
                    max="99"
                    placeholder="DRI"
                    title="dribbling"
                    value="50"
                    required
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="number"
                    name="shooting"
                    min="1"
                    max="99"
                    placeholder="SHO"
                    title="shooting"
                    value="50"
                    required
                  />
                </td>
                <td>
                  <input
                    type="number"
                    name="defending"
                    min="1"
                    max="99"
                    placeholder="DEF"
                    title="defending"
                    value="50"
                    required
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="number"
                    name="passing"
                    min="1"
                    max="99"
                    placeholder="PAS"
                    title="passing"
                    value="50"
                    required
                  />
                </td>
                <td>
                  <input
                    type="number"
                    name="physical"
                    min="1"
                    max="99"
                    placeholder="PHY"
                    title="physical"
                    value="50"
                    required
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input
                    type="text"
                    name="overall"
                    placeholder="overall"
                    value="50"
                    readonly
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input
                    type="button"
                    value="Generate rating"
                    onclick="randomRatingGenerate()"
                  />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="submit" value="Submit" />
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>

    <script src="script/crud-operations-script.js"></script>
    <script src="script/player-form-script.js"></script>
  </body>
</html>
