<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Form</title>
    <link rel="stylesheet" href="/style/navigation-bar-style.css" />
    <link rel="stylesheet" href="style/team-form-style.css" />
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/newTeam">New Team</a>
        </li>
        <li>
          <a href="/newPlayer">New Player</a>
        </li>
        <li>
          <a href="/base">Team Base</a>
        </li>
      </ul>
    </header>
    <section>
      <form>
        <h2 style="color: #9aa0a8">New Team</h2>
        <hr />
        <input type="hidden" name="_id" />

        <label for="t-name">Team name</label>
        <input type="text" name="name" id="t-name" />

        <label for="t-country">Country</label>
        <input type="text" name="country" id="t-country" />

        <label for="t-league">League</label>
        <input type="text" name="league" id="t-league" />

        <label for="t-coach">Coach</label>
        <input type="text" name="coach" id="t-coach" />

        <label for="t-balance">Balance</label>
        <input type="text" name="balance" id="t-balance" />

        <label for="t-logo">Team Logo</label>
        <input type="url" name="logo" id="t-logo" />

        <input type="reset" value="Reset" />
        <input type="submit" name="submit" id="" value="Save" />
      </form>

      <hr />
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>N</th>
              <th>Team name</th>
              <th>Country</th>
              <th>Coach</th>
              <th>Balance</th>
              <th>Operations</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <button id="previous-obj-btn">Previous</button>
                <button id="next-obj-btn">Next</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </section>
    <script src="script/crud-operations-script.js"></script>
    <script src="script/team-form-script.js"></script>
  </body>
</html>
